<section class="intro">
  <div class="container">
    <p class="lead">Xin chào! mình là Lộc :D
      Mình thích làm mấy việc lặt vặt với máy tính và đôi khi mình viết về nó ở đây.
      Mình ở SaiGon và mình là sinh viên IT năm 3 ở STU.
  </div>
</section>
